@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  width:auto;
  place-content: center;
  margin:20px 200px;
}
.header__logo img{
  float:left;
  width:100px;
height:100px;
margin-top:5px;
}
.header__menu ul{
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  float:right;
  padding-top:45px;
}
.header__menu ul li{
  padding-left: 30px;
  color:	#800080;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.bgimg img{
  width:105%;
  height:50%;
  object-fit:cover;
}
table tr,td,th{
  border:1px solid black;
   margin:20px; 
  border-collapse: collapse;
}
.table{
  margin:30px;
}
.table td,th,tr{
padding:20px 160px;
}
.table__content--active td, .table__content--active th{
border:none;
}
.table th,.table__content--active th{
text-align:center;
padding:20px 176px;
} 
.pagination {
  float:right;
  color:	#1E90FF;
}
.pagination .active:hover{
  background-color:#1E90FF ;
  color:#fff;
}

.footer p{
  padding-top:100px;
  text-align:center;
}

/* Responsive */
@media only screen and (min-width:320px) and  (max-width:425px){

 .header__menu ul{
float:right;
padding-top: 10px;
  } 
  .header__menu ul li{
    padding-left: 10px;
    font-size: 10px; 
  }

  .bgimg img{
    width:330%;
   margin-left:30px;
  }

.table th,.table__content--active th{
      padding:20px 147px;
      } 
  .tableinfo td{
    font-size:15px;
  }
  .current-page{
 margin-right: 0px;
  }
  .footer p{
 padding-left: 500px;
  }

}

@media only screen and (min-width:425px) and  (max-width:768px){
  .header__menu ul{
 float:right;
      } 

  .bgimg img{
    width:150%;
   margin-left:30px;
  }
  .table th,.table__content--active th{
    padding:20px 143px;
    }
  
   .footer p{
     padding-left:200px;
       }

}
@media only screen and (min-width:768px) and  (max-width:1024px){

  .header__menu ul{
    float:right;
         } 
   
     .bgimg img{
    width:100%;
      margin-left:30px;
     }
     .table th,.table__content--active th{
       padding:20px 132px;
       }
}


